/*--------------------------------------------------------------------
*
* BASIC STYLES
*
--------------------------------------------------------------------*/

// Box sizing
*, *:after, *:before
  box-sizing: border-box

// Selection highlight
::-moz-selection
  background-color: $blue-lighter

::selection
  background-color: $blue-lighter

// Paragraphs
p
  margin-top: 0
  margin-bottom: $ui-spacing

// Links
a
  color: #009a9a
  font-size: 120%
  text-decoration: none
  cursor: pointer
  &:hover
    color: #00cdcd
  &:focus
    outline: none

.add
  color: $blue-dark

.delete
  color: $blue-dark

// Clearfix
.cf:before,
.cf:after
  content: " "
  display: table

.cf
  &:after
    clear: both

// Media
img, iframe, video
  max-width: 100%
