/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

header
  height: 300px

  background-size: cover

  .container-fluid,
  .row
    height: 100%

  h2, a
    color: $blue


.picture
    position:absolute
    margin-top: -3%
    left:5%
    width:280px

@media screen and (max-width: 880px)

  h2
    font-size: $font-h2

  .picture
      position:absolute
      margin-top: -4%
      left:5%
      width:150px
