/*--------------------------------------------------------------------
*
* TYPOGRAPHY
*
--------------------------------------------------------------------*/

html
  font-size: 100%

body
  color: $gray
  font-family: "Roboto", Helvetica, Arial, sans-serif
  font-size: $font-base
  line-height: $line-height-base
  text-rendering: optimizeSpeed
  font-weight: $font-weight-regular

// Headings

h1
  font-size: $font-h1
  font-weight: strong

h2
  font-size: $font-h2

h3
  font-size: $font-h3

h1, h2, h3
  font-weight: $font-weight-regular

// Helpers

.txt-small
  font-size: $font-small

.txt-center
  text-align: center

.txt-left
  text-align: left

.txt-right
  text-align: right

.txt-dimmed
  color: $gray-light

.txt-truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@media screen and (max-width: 48em)

  h2
    font-size: $font-h

@media screen and (min-width:1650px)
        .widgetBox
          float:left
          position: relative
          width: 220px
          height: 115px
          margin: 2px
          margin-bottom: 3px
          padding: 2px
          color: #666;
          border: 1px solid #bebebe
          border-radius: 6px
          box-shadow: 0 1px 1px #bebebe
